<div class="chat_list" id="<%= key %>">
    <div class="chat_people">
        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
        <div class="chat_ib">
            <h5  data-non-read-user="<%= key %>"><%= fio %><span class="chat_date" date-time-user="<%= key %>">date</span></h5>
            <p date-last-message-user="<%= key %>"></p>
        </div>
    </div>
</div>