<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<link href="static/css/manager.6f5a5e647704e.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"

</head>
<body>
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <!-- <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div> -->
          </div>
          <div class="inbox_chat" id="users">
              <% data.forEach((user) => { %>
                  <div class="chat_list" id="<%= user.info.id %>">
                      <div class="chat_people">
                          <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                          <div class="chat_ib">
                              <h5  data-non-read-user="<%= user.info.id %>"><%= user.info.name %><span class="chat_date" date-time-user="<%= user.info.id %>">date</span></h5>
                              <p date-last-message-user="<%= user.info.id %>"></p>
                          </div>
                      </div>
                  </div>
              <% });%>
          </div>
        </div>
          <% var users = ""; %>
        <% data.forEach((user) => { %>
          <% users = users + "'" + user.info.id + "'" + "," %>
              <div class="mesgs d-none" data-history="<%= user.info.id %>">
              <div class="nav-info">Телефон: <%= user.info.phone %>, Школа: <%= user.info.school %> Email: <%= user.info.email %></div>
              <div class="msg_history">
            <% user.messages.forEach((message) => { %>
                <% if (message.message.search('&42file&42:') !== -1) { %>
                  <% message.message = '<a target="_blank" class="msg-link" href="'+message.message.replace('&42file&42:', '')+'"><b>Файл</b></a>'; %>
                <%}%>
                <% if (message.sender == 'manager') { %>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                      <p><%- message.message %></p>
                      <span class="time_date"><%= message.date %></span>
                  </div>
                </div>
                <% } else { %>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img">
                            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                        </div> <div class="received_msg">
                            <div class="received_withd_msg">
                                <p><%- message.message %></p>
                                <span class="time_date"><%= message.date %></span>
                            </div>
                        </div>
                    </div>
                <%}%>
            <% }); %>
              </div>
              <div class="type_msg">
                  <div class="input_msg_write">
                      <input type="text" class="write_msg" data-message-user="<%=user.info.id%>" placeholder="Type a message" />
                      <a href='javascript:;' class="msg_file_btn">
                          <i class="fa fa-file" aria-hidden="true" style=" padding: 7px 10px; "></i>
                          <input type="file" class="msg_file" data-file-user="<%=user.info.id%>" style='position:absolute;top:0;left:0;opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"/>
                      </a>
                      <button class="msg_send_btn" data-send-user="<%=user.info.id%>" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </div>
              </div>
          </div>
          <script>
              $('[data-file-user="<%=user.info.id%>"]').on('change', (el) =>{
                  var file_data = $(el.target).prop('files')[0];
                  var file_link = $(el.target);
                  var form_data = new FormData();
                  form_data.append('file', file_data);

                  $.ajax({
                      type: "POST",
                      url: "/upload",
                      enctype: 'multipart/form-data',
                      contentType: false,
                      processData: false,
                      data: form_data,
                      success: function (res) {
                          let status = res.status;
                          if(status) {
                              let upload_url = res.data.url;
                              file_link.val(null);
                              socket.emit('sendUserMessage', {
                                  "user": "<%=user.info.id%>",
                                  "message": "&42file&42:"+upload_url
                              });
                          } else {
                              alert('Ошибка загрузки файла');
                          }
                      }
                  });
              });
              $('[data-send-user="<%=user.info.id%>"]').on("click", function (){
                  var userId = $(this).attr('data-send-user');
                  var textMessage = $('[data-message-user="'+userId+'"]').val();
                  $('[data-message-user="'+userId+'"]').val('');
                  socket.emit('sendUserMessage', {"user": userId, "message": textMessage});
              });
              $('[data-message-user="<%=user.info.id%>"]').keypress(function(event){
                  var keycode = (event.keyCode ? event.keyCode : event.which);
                  if(keycode == '13'){
                      var userId = $(this).attr('data-message-user');
                      var textMessage = $(this).val();
                      $(this).val('');
                      socket.emit('sendUserMessage', {"user": userId, "message": textMessage});
                  }
              });
              $('#<%=user.info.id%>').on("click", function (){
                  var userId = $(this).attr('id');
                  $('.mesgs').addClass('d-none');
                  $('.chat_list').removeClass('active_chat');
                  $('[data-non-read-user="' + userId + '"]').removeClass("new_message");
                  $('#' + userId).addClass('active_chat');
                  $('[data-history="'+userId+'"]').removeClass('d-none');
              });
          </script>
        <% });%>
      </div>

    </div></div>
    <script>
        window.users_dynamic = [<%-users%>];
    </script>
<script src="./static/js/manager.6f5a5e647704e.js"></script>
    </body>
    </html>